# --- Python ---
__pycache__/
*.py[cod]
.env
.venv/

# --- Node / React ---
node_modules/
dist/

# --- Docker / Build ---
*.tar
*.log

# --- VS Code / IDE ---
.vscode/
.idea/

# --- OS ---
.DS_Store
Thumbs.db
